@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
};


@theme {
  --color-primary: #C2F800 !important;
  --color-primary-hover: #AEE000;
  --color-background: #0C0D10;
  --color-surface: #15171D;
  --color-surface-hover: #1F232B;
  --color-surface-elevated: #222630;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #9CA3AF;
  --color-text-muted: #6B7280;
  --color-border: #20242E;
  --color-success: #C2F800;
  --color-error: #EF4444;
}


body {
  background: var(--color-background);
  font-family: Inter, sans-serif;
  color: var(--color-text-secondary);
}
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald, sans-serif;
  color: var(--color-text-primary);
}
p, li {
  color: var(--color-text-secondary);
}

@layer components {
  .btn-global {
    @apply bg-primary text-black py-3 px-6 rounded-md text-xs uppercase font-bold tracking-[0.3px] hover:bg-primary-hover transition duration-300 ease-in-out;
  }

  .btn-second {
    @apply bg-transparent text-[#E5E7EB] py-3 px-6 rounded-md border border-border text-xs uppercase font-bold tracking-[0.3px] hover:bg-primary-hover transition duration-300 ease-in-out;
  }
}